[Unit]
Description=Micro service weight-api
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/weight-bot
ExecStart=/usr/bin/python3 /usr/local/bin/weight-api/weight-api.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
